:root {
  --bg-color: #ffffff;
  --text-color: #1c1c22;
}

.dark {
  --bg-color: #1c1c22;
  --text-color: #00ff99;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}
